body {
    padding: 13px 0px 9px 0px;
    /* Note: the padding is determined from the height of div.header and */
    /*       div.copyright minus the same number of pixels each...       */
    font-family: "Arial", "Sans-Serif";
    font-size: 10pt;
}

a {
    color: rgb(49, 133, 155);
    outline: 0px;
    text-decoration: none;
}

a:hover {
    margin: -1px;
    border: 1px solid rgba(49, 133, 155, 0.13);
    background: rgba(49, 133, 155, 0.05);
    color: rgb(49, 133, 155);
}

a.headerlink {
    display: none;
}

code, pre {
    font-family: "Consolas", "Menlo", "Deja Vu Sans Mono", "Bitstream Vera Sans Mono", "Monospace";
    font-size: 9pt;
}

code {
    color: rgb(49, 133, 155);
}

div.copyright {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 19px;
    border-top: 1px solid rgba(161, 161, 161, 0.39);
    background: rgb(229, 229, 229);
    color: rgb(161, 161, 161);
    font-size: 9pt;
    font-weight: bold;
}

div.copyright div {
    display: table-cell;
    position: fixed;
    bottom: 2px;
}

div.copyright div.left {
    left: 4px;
}

div.copyright div.center {
    position: absolute;
    left: 50%;
    top: 50%;
}

div.copyright div.right {
    right: 4px;
}

div.copyright div a.copyright:hover {
    margin: 0px;
    border: 0px;
    background: none;
}

div.copyright div img.twitter {
    position: relative;
    top: -15px;
    border: 0px;
}

div.copyright div img.vpr {
    position: relative;
    top: 1px;
    border: 0px;
}

div.highlight {
    background: none;
}

h1 {
    padding: 3px;
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 23px;
    background: rgb(49, 133, 155);
    color: rgb(255, 255, 255);
    font-size: 15pt;
    font-weight: bold;
}

h2 {
    margin: 1.5em 0em 0.5em 0em;
    /* Note: the margin is so that it is rendered like a <p>, which is  */
    /*        necessary if we want to use a section at the beginning of */
    /*        a page (because of our fixed header at the top)...        */
    border-bottom: 1px solid rgba(49, 133, 155, 0.39);
    color: rgb(49, 133, 155);
    font-size: 13pt;
    font-weight: bold;
}

h3 {
    margin: 1.5em 0em 0.5em 0em;
    /* Note: mimicking what has been done in h2... */
    color: rgb(49, 133, 155);
    font-size: 11pt;
    font-style: italic;
    font-weight: bold;
}

img {
    vertical-align: middle;
}

div.good pre {
    border: 1px solid rgba(118, 146, 60, 0.13);
    background: rgba(118, 146, 60, 0.05);
}

div.bad pre {
    border: 1px solid rgba(149, 55, 52, 0.13);
    background: rgba(149, 55, 52, 0.05);
}

li > p {
    margin: 0px;
}

pre {
    margin: 3px 13px 3px 13px;
    border: 1px solid rgba(49, 133, 155, 0.13);
    border-radius: 2px;
    padding: 3px;
    background: rgba(49, 133, 155, 0.05);
    overflow: auto;
}

table.highlighttable {
    border-spacing: 0px;
}

table.highlighttable > tbody > tr > td.linenos {
    padding: 0px;
    vertical-align: top;
}

table.highlighttable > tbody > tr > td.linenos > div.linenodiv > pre {
    margin-right: 0px;
    border-radius: 2px 0px 0px 2px;
    padding: 3px 7px;
    background: rgba(49, 133, 155, 0.15);
    color: rgb(49, 133, 155);
}

table.highlighttable > tbody > tr > td.code {
    padding: 0px;
    display: block;
    width: 500px;
}

table.highlighttable > tbody > tr > td.code > div.highlight > pre {
    margin-left: 0px;
    border-left: 0px;
    border-radius: 0px 2px 2px 0px;
}

ul {
    margin: 7px 0px;
}

ul > li {
    list-style-type: square;
    margin-left: -1em;
}

ul > li > ul {
    margin: 0px;
}
